:root{
    --black-color: #000;
    --white-color: #fff;
    --grey-color: #808080;
    --primary-color: #E12B38;
    --primary-base-color: #3EB650;
    --secondary-color: #FCC133;
    --secondary-base-color: #292930;
    --footer-color: #CAE7DF;
    --card-bgclr: #EE7879;
    --card-bgclr-light: #F4ABAA;
}